
body{
	height: 100%;
	width: 100%;
	font-family: var(--font-family);
	background: url("img/couverture_tintin.png") repeat;
	background-size: cover;
}

.container{
	position: absolute;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
	z-index: -1;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	border: var(--border) solid var(--dark-color);
	border-width: 4px;
}

.left{
	background: url("img/tintin_et_milou.png") no-repeat center;
	background-size: contain;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #b04f23;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 22px;
	transition: .3s;
	font-family: var(--font-family);
}

.field:hover{
	background-color: #faf1ec;
}

textarea{
	min-height: 150px;
	font-family: var(--font-family-sans-serif);
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #b04f23;
	color: #fff;
	font-family: var(--font-family);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #e5c39b;
}

.bottom-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.bottom-left p {
	font-size: var(--font-size-s);
}


.bottom-right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	word-spacing: normal;
    line-height: var(--space-interline);
}
.bottom-right p {
	font-size: var(--font-size-s);
}
.bottom-right a {
	text-decoration: none;
	color: var(--dark-color);
}
a:hover {
	background-color: #e5c39b;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}