body {
	height: 100%;
	width: 100%;
	/* font-family: var(--font-family); */
	background: url("img/couverture_tintin.png") repeat;
	background-size: cover;
}

.container {
	position: absolute;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10%;
	z-index: -1;
}

.contact-box {
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	padding-bottom: var(--spacing);
	background-color: #fff;
	border: var(--border) solid var(--dark-color);
	border-width: 4px;
}

.left {
	background: url("img/tintin_et_milou.png") no-repeat center;
	background-size: contain;
	height: 100%;

}

.right {
	padding: 25px 40px;
}

h2 {
	text-align: center;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	font-family: var(--font-family);
}

label {
	text-align: start ;
	font-family: var(--font-family-sans-serif);
	
}

ul li {
	list-style: none;
}
.error {
	font-family: var(--font-family-sans-serif);
	color: red;
	
}
/* h2:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 4px;
	width: 50px;
	border-radius: 2px;
	background-color: #b04f23;
} */

.field {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 22px;
	transition: .5s;
	font-family: var(--font-family-sans-serif);

}

.field:hover {
	background-color: #faf1ec;
}

textarea {
	min-height: 150px;
	font-family: var(--font-family-sans-serif);
}

.btn {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #b04f23;
	color: #fff;
	font-family: var(--font-family);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover {
	background-color: #e5c39b;
}

.bottom-left {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: var(--spacing-x3);
	margin-bottom: var(--spacing-x2);
}

.bottom-left h3 {
	font-family: var(--font-family);
}

.bottom-left h4 {
	font-family: var(--font-family-talking);
	font-weight: normal;
	margin: 0;
}

.address {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.phone {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.email {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.bottom-right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: var(--spacing-x3);
	margin-bottom: var(--spacing-x2);
}

.bottom-right h3 {
	font-family: var(--font-family);
}

.bottom-right a {
	text-decoration: none;
	color: var(--dark-color);
}

.bottom-right h4 {
	font-family: var(--font-family-talking);
	font-weight: normal;
	margin: 0;
}

  ** .socialinks {
	font-family: var(--font-family-talking);
} 

.socialinks:hover {
	background-color: #e5c39b;
} 



@media screen and (max-width: 880px) {
	.contact-box {
		grid-template-columns: 1fr;
	}

	.left {
		height: 200px;
		margin-top:15px;
	}


} 