
body {
    backdrop-filter: blur(5px);
    background-image: url(img/albums-tintin.jpg);

}



.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    text-align: center;
    background-color: #8f9985;
    max-width: 800px;
    border-left: #fc9f0d solid 16px;
}

h1 {
    font-size:50px;
    padding-inline: 48px;
} 
.signature {
    display: flex;
    font-family: var(--font-family-sans-serif);
    border-radius: 10px;
    margin-block: 100px;
    border: var(--dark-color) solid var(--border);
    padding-inline: var(--spacing);

}

img{
    width: 300px;
    aspect-ratio: var(--aspect-square);

}
