* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

footer {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--primary-color);
color: var(--light-color);
height: 60px;
padding-inline: var(--spacing-x3);
font-family: var(--font-family);
}