@import url('http://fonts.cdnfonts.com/css/tintin');

:root {


    --primary-color: #b04f23;
    /*costume*/
    --secondary-color: #e8f0de;
    /*fond vert*/
    --secondary-color-icone: #e5c39b;
    /*manteau*/
    --shadow-color: #aca29e;
    --dark-color: #1d0d06;
    --light-color: #f8e3d9;



    --font-family: 'Tintin', sans-serif;

    --font-size-s: 0.7rem;
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.5rem;

    /* --height-head: 50px;
    --height-menu: 60px;
    --height-main-titles: 100px;
    --width-photo: 80px;
    --width-logo: 2rem;
    --width-menu: 350px;
    --width-decoration: 50px;
    --width-cards: 95%; */


    --border: 1px;

    --radius-photo: 50%;

    --radius-border: 4px;
    --shadow-border: ;

    --spacing: 8px;
    --spacing-x2: calc(var(--spacing) * 2);
    --spacing-x3: calc(var(--spacing) * 3);
    --spacing-x4: calc(var(--spacing) * 4);
    --space-interline: 1.5rem;

    --aspect-square: 1;
    --aspect-rectangle: 2;
    --border-circle: 50%;

    --transition-time: 0.3s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 60px;
    padding-inline: var(--spacing-x3);
    font-family: var(--font-family);

}

nav a {
    color: var(--light-color);
    text-decoration: none;


}

nav a:hover {
    color: var(--dark-color);
}

.burger {
    display: none;
}

.links {
    display: flex;
    gap: var(--spacing-x4);
    z-index:2;

}
.logo img{
    height: 60px;
    padding: 5px;
    
}

@media screen and (max-width: 680px) {
    .links {
        display: none;
    }

    .links:target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-x2);
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        inset: 0;
        opacity: 0.90;
    }

    .burger {
        display: initial;

    }
}