body {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    background-color: #E8F0DE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 150%;
    gap: 0.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}


h1,
h2,
h3 {
    font-family: var(--font-family);
}


.page_title {
    font-family: var(--font-family);
    margin-top: var(--spacing-x4);
    text-align: center;
    font-size: var(--font-size-xxl);
}

.tempoNav {
    background-color: var(--primary-color);
    height: 3rem;
    color: white;
    font-family: var(--font-family);
}

.tempoFoot {
    background-color: var(--primary-color);
    height: 0rem;
    margin-top: 10rem;
}

.softSkillsTitleANDskillsPicture, .hardSkillsTitleANDskillsPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--case-color-1);
    border-radius: var(--radius-border);
    border: 3px solid var(--dark-color);
}

.hardSkillsTitleANDskillsPicture {
    background-color: var(--case-color-2);
}


.skillsItems {
    opacity: 1;
    background-color: #fff;
}

.skillsItems:hover {
    opacity: 1;
    border: 4px solid var(--dark-color);
    box-shadow: 3px 2px 2px var(--dark-color);
}

.skillsDetails {
    padding: var(--spacing);
}

.softsSkillsContainer {
    background-color: none;
}

/* .skillsTitle {} */

.skillsComicsBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: none;
    /*    border: solid var(--dark-color) var(--border-vignettes);*/
}

.skillsContainer {
    margin: 1rem;
    background-color: none;
}

cd .skillsText {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.imgLogoSoft,
.imgLogoHard {
    width: 15%;
    aspect-ratio: 1;
    padding: var(--spacing);
}

.hardAndSoftContainer {
    display: flex;
    flex-direction: column;
    margin-top:var(--spacing-x2);
}

@media screen and (min-width: 800px) {
    .hardAndSoftContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .skillsContainer {
        margin: 1rem;
        height: 600px;
        max-width: 40%;
    }

    .imgLogoSoft,
    .imgLogoHard {
        width: 6rem;
        aspect-ratio: 1;
        padding: var(--spacing);
    }

    .imgLogoHard {
        transform: rotate(30deg);
    }

    .skillsItems {
        height: 180px;
    }
}

.bubble {
    width: 100%;
    padding: var(--spacing);
    margin-block: var(--spacing-x2);
    background: #fff;
    border: 3px solid var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-l);
    font-family: var(--font-family-talking);
    border-radius: var(--radius-border);
    color: var(--dark-color);
    position: relative;
    line-height: var(--space-interline);
    z-index: 0;
}


/*Envoyer un message projet_tintin