.vignettes {
    width: var(--width-vignettes-jobs);
    height: 100%;

    display: grid;
    grid-template-columns: var(--aside-vignettes) 1fr var(--aside-vignettes);
    grid-template-rows: var(--aside-vignettes) repeat(8, auto) var(--aside-vignettes);
    gap: var(--spacing-x2);

}




.job {
    background-color: var(--primary-color);

    width: 100%;
    height: 100%;

    font-family: var(--font-family);
    font-size: var(--font-size-xl);
    font-weight: bolder;

    padding: var(--spacing);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: solid var(--dark-color) var(--border-vignettes);
}

ul {
    text-align: left;
}

li {
    font-size: var(--font-size-m);
    font-family: var(--font-family);
}

.talking {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border: solid var(--dark-color) var(--border-vignettes);
}

.tintinId {
    height: var(--height-tintin-vignettes);
    width:var(--width-tintin-vignettes);
    aspect-ratio: var(--aspect-square);
}

.reverse {
    transform: scaleX(-1);
}

.bubble {
    width: 100%;

    padding: var(--spacing);
    margin: var(--spacing-x2);
    background: var(--light-color);
    border: var(--border) solid var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: var(--font-size-l);
    font-family: var(--font-family-talking);
    border-radius: var(--radius-border);
    color:var(--dark-color);
    position: relative;
    line-height: var(--space-interline);
    z-index: 0;
}

.border {
    width: 100%;
    right: 100%;
}

.borderL {
    border-left: var(--border-vignettes) solid var(--dark-color);
}

.borderR {
    border-right: var(--border-vignettes) solid var(--dark-color);
}

.borderT {
    border-top: var(--border-vignettes) solid var(--dark-color);
}

.borderB {
    border-bottom: var(--border-vignettes) solid var(--dark-color);
}

.planche1 {
    background-image: url(./img/Capture1.png);
}

.planche2 {
    background-image: url(./img/Capture2.png);
}

.planche3 {
    background-image: url(./img/Capture3.png);
}

.planche4 {
    background-image: url(./img/Capture4.png);
}

.planche5 {
    background-image: url(./img/Capture5.png);
}

.planche6 {
    background-image: url(./img/Capture6.png);
}


.images_tintin {
    display: flex;
    width: fit-content;
}

.mushroom {
    background-image: url(./img/Champignon.png);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform var(--transition-time-objects) ease;
    align-self: flex-end;
}

.mushroom:hover {

    transform: scale(150%);
    transform-origin: bottom;
}


@media screen and (min-size:900px) {
    
}