.vignettes {
    width: var(--width-vignettes-jobs);
    height: 100%;

    display: grid;
    grid-template-columns: var(--aside-vignettes) 1fr var(--aside-vignettes);
    grid-template-rows: var(--aside-vignettes) repeat(8, auto) var(--aside-vignettes);
    gap: var(--spacing-x2);

}




.job {
    width: 100%;
    height: 100%;

    font-family: var(--font-family);
    font-size: var(--font-size-xl);
    font-weight: bolder;

    color: var(--dark-color);


    padding: var(--spacing);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: solid var(--dark-color) var(--border-vignettes);
}



.case2 {
    background-color: #42733d;
}

.case8 {
    background-color: #a2c8f1;
}

.case14 {
    background-color: var(--primary-color);
}

.case20 {
    background-color: #efd3a5;
}

ul {
    text-align: left;
}

li {
    font-size: var(--font-size-m);
    font-family: var(--font-family);
}

.talking {
    height:100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    border: solid var(--dark-color) var(--border-vignettes);
}

.tintinId {
    height: var(--height-tintin-vignettes);
    width: auto;
    aspect-ratio: var(--aspect-square);

}

.maya{
    width:100px;
}



/* .reverse {
    transform: scaleX(-1);
} */

.bubble {
    width: 100%;

    padding: var(--spacing);
    margin-left: var(--spacing-x2);
    margin-top: var(--spacing-x2);

    background: var(--light-color);
    border: var(--border) solid var(--dark-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: var(--font-size-l);
    font-family: var(--font-family-talking);
    border-radius: var(--radius-border);
    color: var(--dark-color);

    line-height: var(--space-interline);
 
}

.border {
    width: 100%;
    right: 100%;
}

.borderL {
    border-left: var(--border-vignettes) solid var(--dark-color);
}

.borderR {
    border-right: var(--border-vignettes) solid var(--dark-color);
}

.borderT {
    border-top: var(--border-vignettes) solid var(--dark-color);
}

.borderB {
    border-bottom: var(--border-vignettes) solid var(--dark-color);
}

.planche1 {
    background-image: url(./img/chute.png);
}

.planche2 {
    background-image: url(./img/tintinbanc.jpg);
}

.planche3 {
    background-image: url(./img/requinssmarin.png);
}

.planche4 {
    background-image: url(./img/maya.png);
}

.planche5 {
    background-image: url(./img/lotus.png);
}

.planche6 {
    background-image: url(./img/cigare.png);
}


.images_tintin {
    max-height:var(--height-tintin-vignettes);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    }

.mushroom {
    align-self: flex-end;
    width: 60px;
    height: 60px;
    transition: transform var(--transition-time-objects) ease;
    transform-origin: bottom;
    z-index: 0;
    margin-left: var(--spacing-x3);
}

.mushroom:hover {
    transform: scale(300%);
}

.curious_tintin {
    display: none;
    aspect-ratio: var(--aspect-rectangle);

}


@media screen and (min-width:780px) {


    .vignettes {
        width:auto;
    }

    .curious_tintin {
        display: initial;
        height: var(--width-tintin-vignettes);
    }

}

@media screen and (min-width:1500px) {

 


    .vignettes {
        grid-template-columns: var(--aside-vignettes) repeat(4, 1fr) var(--aside-vignettes);
        grid-template-rows: var(--aside-vignettes) repeat(4, auto) ;
        width:auto;
        margin: var(--spacing-x4);
        padding-inline: var(--spacing-x4);
    }


    .job{
        display: flex;
        justify-content: center;
        color: var(--dark-color);
        font-size: var(--font-size-xxl);
    }
    li{
        font-size: var(--font-size-l);
    }

    .case2 {
        background-color: #42733d;
    }

    .case8 {
        background-color: #a2c8f1;
    }

    .case20 {
        background-color: #efd3a5;

    }


    .bubble {
        font-size: var(--font-size-xl);
    }


    .tintinId {
        position: relative;
        left:-50px;
    }

    .firstRow{
        display: none;

    }

    .case1{

        border:none;

        grid-row: 2;
        grid-column: 5;

        background-size:cover;

    }

    .case2{
        grid-row: 2;
        grid-column: 1 / 3;
    }

    .case3{
        grid-row: 2;

        grid-column:5/7;

        background-size:cover;
    }

    .case4{
        border:none;
    }

    .case5{
        grid-row: 2;
        grid-column: 3 / 5;
    }
    .case6{
        grid-row: 3;

        grid-column: 1/3;

        background-size:cover;
        border-right: var(--dark-color)  solid var(--border-vignettes);
    }
    .case7{
        grid-row: 4;
        grid-column: 1;
        background-size:cover;
    }
    .case8{
        grid-row: 3;
        grid-column: 3 / 5;
    }
    .case9{
        grid-row: 4;
        grid-column: 6;
        background-size:cover;
    }
    .case10{
        border:none;
    }
    .case11{
        grid-row: 3;
        grid-column: 5 / 7;
    }
    .case12{
        grid-row: 5;

        grid-column: 1 / 3;

        background-size:cover;
        border-right: var(--dark-color)  solid var(--border-vignettes);
    }
    .case13{
        display: none;
    }
    .case14{
        grid-row: 4;
        grid-column:2 / 4;
    }
    .case15{
       display: none;
    }
    .case16{
       display: none;
    }
    .case17{
        grid-row: 4;
        grid-column: 4 / 6;
    }
    .case18{
        border:none;
    }
    .case19{
        border:none;   }
    .case20{
        grid-row: 5;
        grid-column: 3/ 5;
    }
    .case21{
        border:none;
    }
    .case22{
        border:none;
    }
    .case23{
        grid-row: 5;
        grid-column: 5 / 7;
    }
    .case24{
       display: none;
    }
    .planche1 {
        background-image: url(./img/avionArrive.png);
    }
    
    .planche2 {

        background-image: url(./img/requinssmarin.png); 
    }
    
    .planche3 {
        background-image: url(./img/tintinbanc.jpg);   
    }
    
    .planche4 {
        background-image: url(./img/maya.png);
    }
    
    .planche5 {
        background-image: url(./img/lotus.png);
    }
    
    .planche6 {
        background-image: url(./img/cigare.png);

    }

}